h1 {
    font-family: 'Audiowide', sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    text-align: center;
    color: white;
}

body {
    background-image: url('fortuneteller.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position-x: center;
  }

#fetch-fortune-btn {
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    border-radius: 100px;

}

#loadingButton {
    font-family: 'Orbitron', sans-serif;
    border-radius: 100px;
}

#loadingButton {
    display: none;
}

#output-container {
    display: none;
}